*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #038c73;
}
table, td{
    border: 5px solid black;
    border-collapse: collapse;
    
}
body{
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 30px;

}